//start footer
footer.footer
	.inner
		.footer__flag
		.footer__links
			.footer__links-work
				h6.footer__title Работа
				ul
					li: a(href="vacancies.html") Вакансии
					li: a(href="services.html") Услуги по трудоустройству

			.footer__links-study
				h6.footer__title Обучение
				ul
					li: a(href="entrance.html") Поступление в ВУЗ
					li: a(href="courses.html") Курсы польского

		.footer__contacts
			h6.footer__title Контакты
			ul
				li #[i.fa.fa-phone] +38 068 137 71 64
				li #[i.fa.fa-phone] +38 099 343 20 75
				li: a(href="skype:23praca").footer__skype #[i.fa.fa-skype ] 23 praca
//end footer