//start footer
footer.footer
	.inner
		.footer__flag
		.footer__links
			.footer__links-work
				h6.footer__title Работа
				ul
					li: a(href="#") lorem
					li: a(href="#") lorem lorem
					li: a(href="#") lorem lorem lorem
					li: a(href="#") loremlorem
					li: a(href="#") loremlorem lorem
			.footer__links-study
				h6.footer__title Учеба
				ul
					li: a(href="#") lorem
					li: a(href="#") lorem lorem
					li: a(href="#") lorem lorem lorem
					li: a(href="#") loremlorem
					li: a(href="#") loremlorem lorem
		.footer__contacts
			h6.footer__title Контакты
			ul
				li #[i.fa.fa-phone] 099 547 79 12
				li #[i.fa.fa-phone] 099 547 79 12
				li: a(href="#").footer__skype #[i.fa.fa-skype ] Skype support
				li: a(href="#").footer__vk #[i.fa.fa-vk ] Vk page
//end footer