//start header
header.header
	.inner
		.header__top
			a.header__logo(href="index.html")
			ul.nav
				li: a.nav__link(href="index.html") Главная
				li.nav__holder  Трудоустройство
					span.nav__box
						a.nav__in-link(href="vacancies.html") Вакансии
						a.nav__in-link(href="services.html") Услуги
				li.nav__holder  Обучение
					span.nav__box.nav__box_wide
						a.nav__in-link(href="entrance.html") Поступление в ВУЗ
						a.nav__in-link(href="courses.html") Курсы польского
				li: a.nav__link(href="prices.html") Стоимость
				li: a.nav__link(href="contacts.html") Контакты
		h1.header__title Praca
		h2.header__subtitle Работа в Польше для украинцев
//end header