mixin form(text)
	form(method="post" action="contacts2.php" id="feedback")
		h4=text
		input(type='text' placeholder="Ваше имя" x-autocompletetype="name" name="nameFF" required)
		input(type='number' required name="contactFF" placeholder="Ваш номер телефона")
		textarea(placeholder="Ваше сообщение" name="messageFF")
		button.btn.btn_center(type="submit") Закзать консультацию



mixin hint(text)
	.hint
		strong.hint=text

mixin workSteps
	.steps
		h3 Этапы работы
		.steps__items-wrap
			.steps__item
				i.fa.fa-phone-square.steps__icon
				p Оставьте  заявку на сайте или же позвоните договоритесь о встречи со специалистом
				i.steps__icon-after.fa.fa-chevron-right
			.steps__item
				i.fa.fa-address-card.steps__icon
				p Подача необходимых документов. Выбор вакансии, а также  подходящего для Вас пакета наших услуг. Подписание договора.Проплата сервисного сбора, частичная оплата наших услуг.
				i.steps__icon-after.fa.fa-chevron-right

			.steps__item
				i.fa.fa-file-text-o.steps__icon
				p Личная подача Вами (подготовленного нами) полного пакета документов в визовый центр.
				i.steps__icon-after.fa.fa-chevron-right

			.steps__item
				i.fa.fa-handshake-o.steps__icon
				p Отъезд. Встреча Вас в Польше нашим представителем и трудоустройство на заранее согласованную вакансию.


mixin tableEntrance
	.table-entrance-wrap
		table.table
			tr
				th Услуги
				th Пакет "Standart"
				th Пакет "Silver"
				th Пакет "Gold"
			tr
				td Помощь при выборе ВУЗа по специальности
				td: i.fa.fa-check-circle
				td: i.fa.fa-check-circle
				td: i.fa.fa-check-circle
			tr
				td Сбор пакета документов для ВУЗа;
				td: i.fa.fa-check-circle
				td: i.fa.fa-check-circle
				td: i.fa.fa-check-circle
			tr
				td Апостилизация документов об окончании учебных заведений в Украине;
				td: i.fa.fa-check-circle
				td: i.fa.fa-check-circle
				td: i.fa.fa-check-circle
			tr
				td Перевод необходимых документов польским присяжным переводчиком;
				td: i.fa.fa-check-circle
				td: i.fa.fa-check-circle
				td: i.fa.fa-check-circle
			tr
				td Получение письма о зачислении в ВУЗ;
				td: i.fa.fa-check-circle
				td: i.fa.fa-check-circle
				td: i.fa.fa-check-circle
			tr
				td Бронирование места в общежитии, при условии наличия собственного общежития у ВУЗа и подачи документов максимально за месяц до окончания вступительной кампании;
				td: i.fa.fa-check-circle
				td: i.fa.fa-check-circle
				td: i.fa.fa-check-circle
			tr
				td Полная подготовка документов для поступления и открытия визы;
				td: i.fa.fa-check-circle
				td: i.fa.fa-check-circle
				td: i.fa.fa-check-circle
			tr
				td Ориентировочная беседа перед отъездом на обучение;
				td: i.fa.fa-check-circle
				td: i.fa.fa-check-circle
				td: i.fa.fa-check-circle
			tr
				td Курс на уровень А1 в школе “Oratio” с профессиональными филологами польского языка!
				td: i.fa.fa-check-circle
				td: i.fa.fa-check-circle
				td: i.fa.fa-check-circle
			tr
				td Сопровождение в течение первого года обучения
				td: i.fa.fa-check-circle
				td: i.fa.fa-check-circle
				td: i.fa.fa-check-circle
			tr
				td Бронирование места в частном общежитии
				td: i.fa.fa-check-circle
				td: i.fa.fa-check-circle
				td: i.fa.fa-check-circle
	+hint('Планируя обучение в Польше, помните – знание языка обязательно для поступления!!!')

mixin services
	.services
		.services__item
			.services__top
				p Пакет "Эконом"
				strong 170 евро
				span 180\180
			.services__bottom
				p Приглашение от польского работодателя 180\180
				p Запись в визовый центр
				p Страховка 360/360
				p Анкета
		.services__item
			.services__top
				p Пакет "Все включено"
				strong 210 евро
				span 180\180
			.services__bottom
				p Приглашение от польского работодателя 180\180
				p Запись в визовый центр
				p Страховка 360/360
				p Подбор вакансии
				p Встреча нашим представителем в Польше на  вокзале и трудоустройство Вас на согласованную заранее вакансию
				p Поселение
				p Анкета

		.services__item
			.services__top
				p Пакет "Год без хлопот"
				strong 650 евро
				span 360\360
			.services__bottom
				p Приглашение от польского работодателя 180\180
				p Запись в визовый центр
				p Страховка 360/360
				p Подбор вакансии
				p Встреча нашим представителем в Польше на  вокзале и трудоустройство Вас на согласованную заранее вакансию
				p Поселение
				p Подготовка к собеседованию
				p Анкета



mixin recalls
	.recalls
		h3 Отзывы
		.recalls__slider
			.recalls__item
				img.recalls__img(src="img/recall-1.png")
				.recalls__text-wrap
					p p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum perspiciatis, eveniet omnis asperiores dolor iusto, est sed deserunt culpa officiis animi beatae, impedit eos, sequi saepe nemo nam. Blanditiis tenetur illo, iure recusandae omnis. Repellendus aspernatur nostrum, perspiciatis, ipsa totam tenetur quidem atque nihil! Quam delectus officia, commodi quasi error.
					span Иван, 37 лет, Днепропетровск
			.recalls__item
				img.recalls__img(src="img/recall-2.jpg")
				.recalls__text-wrap
					p p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum perspiciatis, eveniet omnis asperiores dolor iusto, est sed deserunt culpa officiis animi beatae, impedit eos, sequi saepe nemo nam. Blanditiis tenetur illo, iure recusandae omnis. Repellendus aspernatur nostrum, perspiciatis, ipsa totam tenetur quidem atque nihil! Quam delectus officia, commodi quasi error.
					span Иван, 37 лет, Днепропетровск
			.recalls__item
				img.recalls__img(src="img/recall-3.jpg")

				.recalls__text-wrap
					p p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum perspiciatis, eveniet omnis asperiores dolor iusto, est sed deserunt culpa officiis animi beatae, impedit eos, sequi saepe nemo nam. Blanditiis tenetur illo, iure recusandae omnis. Repellendus aspernatur nostrum, perspiciatis, ipsa totam tenetur quidem atque nihil! Quam delectus officia, commodi quasi error.
					span Иван, 37 лет, Днепропетровск
			.recalls__item
				img.recalls__img(src="img/recall-4.jpg")

				.recalls__text-wrap
					p p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum perspiciatis, eveniet omnis asperiores dolor iusto, est sed deserunt culpa officiis animi beatae, impedit eos, sequi saepe nemo nam. Blanditiis tenetur illo, iure recusandae omnis. Repellendus aspernatur nostrum, perspiciatis, ipsa totam tenetur quidem atque nihil! Quam delectus officia, commodi quasi error.
					span Иван, 37 лет, Днепропетровск
			.recalls__item
				img.recalls__img(src="img/recall-5.jpg")

				.recalls__text-wrap
					p p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum perspiciatis, eveniet omnis asperiores dolor iusto, est sed deserunt culpa officiis animi beatae, impedit eos, sequi saepe nemo nam. Blanditiis tenetur illo, iure recusandae omnis. Repellendus aspernatur nostrum, perspiciatis, ipsa totam tenetur quidem atque nihil! Quam delectus officia, commodi quasi error.
					span Иван, 37 лет, Днепропетровск


doctype html
html
	head
		meta(charset="utf-8")
		block title
			title some
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet" media="all" href="css/style.css")
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
		link(rel='apple-touch-icon', sizes='57x57', href='img/favicon/apple-icon-57x57.png')
		link(rel='apple-touch-icon', sizes='60x60', href='img/favicon/apple-icon-60x60.png')
		link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='76x76', href='img/favicon/apple-icon-76x76.png')
		link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-icon-114x114.png')
		link(rel='apple-touch-icon', sizes='120x120', href='img/favicon/apple-icon-120x120.png')
		link(rel='apple-touch-icon', sizes='144x144', href='img/favicon/apple-icon-144x144.png')
		link(rel='apple-touch-icon', sizes='152x152', href='img/favicon/apple-icon-152x152.png')
		link(rel='apple-touch-icon', sizes='180x180', href='img/favicon/apple-icon-180x180.png')
		link(rel='icon', type='image/png', sizes='192x192', href='/android-icon-192x192.png')
		link(rel='icon', type='image/png', sizes='32x32', href='img/favicon/favicon-32x32.png')
		link(rel='icon', type='image/png', sizes='96x96', href='img/favicon/favicon-96x96.png')
		link(rel='icon', type='image/png', sizes='16x16', href='img/favicon/favicon-16x16.png')
		//meta(name='theme-color', content='#ffffff')
	body
		.out
			block content
		script(src="js/app.js" async)