mixin form(text)
	form
		h4=text
		input(type='text' placeholder="Ваше имя")
		input(type='number' placeholder="Ваше номер телефона")
		textarea(placeholder="Ваше сообщение")
		button.btn.btn_center(type=submit) Закзать консультацию
mixin hint(text)
	.hint
		strong.hint=text

mixin workSteps
	.steps
		h3 Этапы работы
		.steps__items-wrap
			.steps__item
				i.fa.fa-phone-square.steps__icon
				p lorem lorem loremvv v vlorem lorem lorem lorem lorem lorem lorem lorem lorem loremvv v vlorem lorem lorem lorem lorem lorem lorem
				i.steps__icon-after.fa.fa-chevron-right
			.steps__item
				i.fa.fa-address-card.steps__icon
				p lorem lorem loremvv v vlorem lorem lorem lorem lorem lorem lorem lorem lorem loremvv v vlorem lorem lorem lorem lorem lorem lorem
				i.steps__icon-after.fa.fa-chevron-right

			.steps__item
				i.fa.fa-file-text-o.steps__icon
				p lorem lorem loremvv v vlorem lorem lorem lorem lorem lorem lorem lorem lorem loremvv v vlorem lorem lorem lorem lorem lorem lorem
				i.steps__icon-after.fa.fa-chevron-right

			.steps__item
				i.fa.fa-handshake-o.steps__icon
				p lorem lorem loremvv v vlorem lorem lorem lorem lorem lorem lorem lorem lorem loremvv v vlorem lorem lorem lorem lorem lorem lorem


doctype html
html
	head
		meta(charset="utf-8")
		block title
			title some
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet" media="all" href="css/style.css")
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
		link(rel='apple-touch-icon', sizes='57x57', href='img/favicon/apple-icon-57x57.png')
		link(rel='apple-touch-icon', sizes='60x60', href='img/favicon/apple-icon-60x60.png')
		link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='76x76', href='img/favicon/apple-icon-76x76.png')
		link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-icon-114x114.png')
		link(rel='apple-touch-icon', sizes='120x120', href='img/favicon/apple-icon-120x120.png')
		link(rel='apple-touch-icon', sizes='144x144', href='img/favicon/apple-icon-144x144.png')
		link(rel='apple-touch-icon', sizes='152x152', href='img/favicon/apple-icon-152x152.png')
		link(rel='apple-touch-icon', sizes='180x180', href='img/favicon/apple-icon-180x180.png')
		link(rel='icon', type='image/png', sizes='192x192', href='/android-icon-192x192.png')
		link(rel='icon', type='image/png', sizes='32x32', href='img/favicon/favicon-32x32.png')
		link(rel='icon', type='image/png', sizes='96x96', href='img/favicon/favicon-96x96.png')
		link(rel='icon', type='image/png', sizes='16x16', href='img/favicon/favicon-16x16.png')
		//meta(name='theme-color', content='#ffffff')
	body
		.out
			block content
		script(src="js/app.js" async)