extends _layout

block title
	title Контакты

block content
	.out
		include _header
		main.content.content_bkg
			.inner
				h3 Контакты
				.contacts
					.contacts__item
						.contacts__box
							h4 Киев
							p #[i.fa.fa-map-marker] #[strong Адресс: ] просп. Леся Курбаса 18
							p #[i.fa.fa-phone] #[strong Телефон: ] +38 068 137 71 64
							p #[i.fa.fa-phone] #[strong Телефон: ] +38 099 343 20 75
							.contacts__schedule
								p.has-ico Понедельник
								p.has-ico Вторник
								p.has-ico Среда
								p.has-ico Четверг
								p.has-ico Пятница
								p.has-ico.has-ico_black Субота
								p.has-ico.has-ico_black Воскресенье
								p.contacts__schedule-graph 9:00 - 18:00
								p.contacts__schedule-graph.contacts__schedule-graph_black Выходной
						#map
					.contacts__item
						.contacts__box
							h4 Варшава
							p #[i.fa.fa-map-marker] #[strong Адресс: ] ul.Instalatorow 7, lok. 204, 02-237 Warszawa
							p #[i.fa.fa-phone] #[strong Телефон: ] +48 517 522 500
							p #[i.fa.fa-phone] #[strong Телефон: ] +48 535 690 500
							.contacts__schedule
								p.has-ico Понедельник
								p.has-ico Вторник
								p.has-ico Среда
								p.has-ico Четверг
								p.has-ico Пятница
								p.has-ico.has-ico_black Субота
								p.has-ico.has-ico_black Воскресенье
								p.contacts__schedule-graph 9:00 - 18:00
								p.contacts__schedule-graph.contacts__schedule-graph_black Выходной
						#map-sec

		include _footer
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFknSdXmjuEcstleJLGg0Grwszxx0Ab4s&callback=initMap")
	script(src="js/maps.js")
