extends _layout

block title
	title Поступление в ВУЗ

block content
	.out
		include _header
		main.content
			.inner
				h3 Поступление в ВУЗ
				.table-entrance-wrap
					table.table
						tr
							th Услуги
							th Пакет "Standart"
							th Пакет "Silver"
							th Пакет "Gold"
						tr
							td Помощь при выборе ВУЗа по специальности
							td: i.fa.fa-check-circle
							td: i.fa.fa-check-circle
							td: i.fa.fa-check-circle
						tr
							td Сбор пакета документов для ВУЗа;
							td: i.fa.fa-check-circle
							td: i.fa.fa-check-circle
							td: i.fa.fa-check-circle
						tr
							td Апостилизация документов об окончании учебных заведений в Украине;
							td: i.fa.fa-check-circle
							td: i.fa.fa-check-circle
							td: i.fa.fa-check-circle
						tr
							td Перевод необходимых документов польским присяжным переводчиком;
							td: i.fa.fa-check-circle
							td: i.fa.fa-check-circle
							td: i.fa.fa-check-circle
						tr
							td Получение письма о зачислении в ВУЗ;
							td: i.fa.fa-check-circle
							td: i.fa.fa-check-circle
							td: i.fa.fa-check-circle
						tr
							td Бронирование места в общежитии, при условии наличия собственного общежития у ВУЗа и подачи документов максимально за месяц до окончания вступительной кампании;
							td: i.fa.fa-check-circle
							td: i.fa.fa-check-circle
							td: i.fa.fa-check-circle
						tr
							td Полная подготовка документов для поступления и открытия визы;
							td: i.fa.fa-check-circle
							td: i.fa.fa-check-circle
							td: i.fa.fa-check-circle
						tr
							td Ориентировочная беседа перед отъездом на обучение;
							td: i.fa.fa-check-circle
							td: i.fa.fa-check-circle
							td: i.fa.fa-check-circle
						tr
							td Курс на уровень А1 в школе “Oratio” с профессиональными филологами польского языка!
							td: i.fa.fa-check-circle
							td: i.fa.fa-check-circle
							td: i.fa.fa-check-circle
						tr
							td Сопровождение в течение первого года обучения
							td: i.fa.fa-check-circle
							td: i.fa.fa-check-circle
							td: i.fa.fa-check-circle
						tr
							td Бронирование места в частном общежитии
							td: i.fa.fa-check-circle
							td: i.fa.fa-check-circle
							td: i.fa.fa-check-circle
					+hint('Планируя обучение в Польше, помните – знание языка обязательно для поступления!!!')

				.steps
					h3 Этапы работы
					.steps__items-wrap
						.steps__item
							i.fa.fa-phone-square.steps__icon
							p Оставьте заявку на сайте или же позвоните и договоритесь о дате встречи со специалистом.
							i.steps__icon-after.fa.fa-chevron-right

						.steps__item
							i.fa.fa-address-card.steps__icon
							p Подача необходимых документов. Подписание договора. Частичная оплата оптимального для Вас пакета.
							i.steps__icon-after.fa.fa-chevron-right

						.steps__item
							i.fa.fa-file-text-o.steps__icon
							p Получение полного пакета документов и личная подача его в визовый центр. Оплата услуг.
							i.steps__icon-after.fa.fa-chevron-right

						.steps__item
							i.fa.fa-graduation-cap.steps__icon
							p Отъезд и встреча Вас нашим представителем в Польше. Поселение.Дальнейшее курирование вас по всем вопросам.



				.forms.forms_edu
					+form('Обучение')

		include _footer