extends _layout

block title
	title Поступление в ВУЗ

block content
	.out
		include _header
		main.content
			.inner
				h3 Поступление в ВУЗ
				+tableEntrance

				.steps
					h3 Этапы работы
					.steps__items-wrap
						.steps__item
							i.fa.fa-phone-square.steps__icon
							p Оставьте заявку на сайте или же позвоните и договоритесь о дате встречи со специалистом.
							i.steps__icon-after.fa.fa-chevron-right

						.steps__item
							i.fa.fa-address-card.steps__icon
							p Подача необходимых документов. Подписание договора. Частичная оплата оптимального для Вас пакета.
							i.steps__icon-after.fa.fa-chevron-right

						.steps__item
							i.fa.fa-file-text-o.steps__icon
							p Получение полного пакета документов и личная подача его в визовый центр. Оплата услуг.
							i.steps__icon-after.fa.fa-chevron-right

						.steps__item
							i.fa.fa-graduation-cap.steps__icon
							p Отъезд и встреча Вас нашим представителем в Польше. Поселение.Дальнейшее курирование вас по всем вопросам.



				.forms.forms_edu
					+form('Обучение')

		include _footer