extends _layout

block title
	title Праця 23. Работа в Польше для украинцев

block content
	.out
		include _header
		main.content
			.inner
				h3 Хотите уехать в Польшу?
				.about
					img(src="img/profs.png")
					p Lorem ipsum dolor sit #[strong amet, consectetur adipisicing elit. Laborum amet, consectetur adipisicing elit. Laborum  ]amet, consectetur adipisicing elit. Laborum perspiciatis, eveniet omnis asperiores dolor iusto, est sed deserunt culpa officiis animi beatae, impedit eos, sequi saepe nemo nam. Blanditiis tenetur illo, iure recusandae omnis. Repellendus aspernatur nostrum, perspiciatis, ipsa totam tenetur quidem atque nihil! Quam delectus officia, commodi quasi error.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum perspiciatis, eveniet omnis asperiores dolor iusto, est sed deserunt culpa officiis animi beatae, impedit eos, sequi saepe nemo nam. Blanditiis tenetur illo, iure recusandae omnis. Repellendus aspernatur nostrum, perspiciatis, ipsa totam tenetur quidem atque nihil! Quam delectus officia, commodi quasi error.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum perspiciatis, eveniet omnis asperiores dolor iusto, est sed deserunt culpa officiis animi beatae, impedit eos, sequi saepe nemo nam. Blanditiis tenetur illo, iure recusandae omnis. Repellendus aspernatur nostrum, perspiciatis, ipsa totam tenetur quidem atque nihil! Quam delectus officia, commodi quasi error.

				.license
					img.license__img(src="img/license.jpeg")
					img.license__img(src="img/license-2.jpeg")


				+workSteps


				+recalls


				.forms

					+form('Трудоустройство')
					//+form('Обучение')

		include _footer


