extends _layout

block title
	title Праця 23. Работа в Польше для украинцев

block content
	.out
		include _header
		main.content
			.inner
				h3 Хотите уехать на обучение и работу в Польше?
				.about
					img(src="img/profs.png")
					p На сегодня-это верное решение для украинцев.
					p Наша компания "Praca 23" специализируется на предоставлении услуг по образованию и трудоустройству в Польше. Мы-официальное представительство польской компании в Украине. Это говорит о том, что мы курируем Вас по всем вопросам, как в Украине, так и в Польше.
					p Сотрудничая с нами, Вас гарантированно встретят наши специалисты в Польше и выполнят все обещанные договоренности, а также будут консультировать Вас по всем возникшим вопросам в незнакомой для Вас стране.
					p Мы - команда ответственных специалистов, работающих для Вас на результат. В нашей базе более 1520 довольных клиентов.

				.license
					img.license__img(src="img/license.jpeg")
					img.license__img(src="img/license-2.jpeg")


				+workSteps


				+recalls


				.forms

					+form('Трудоустройство')
					+form('Обучение')

		include _footer


