extends _layout

block title
	title Index

block content
	.out
		include _header
		main.content
			.inner
				.about
					h3 Хотите уехать в Польшу?
					img(src="img/profs.png")
					p Lorem ipsum dolor sit #[strong amet, consectetur adipisicing elit. Laborum amet, consectetur adipisicing elit. Laborum  ]amet, consectetur adipisicing elit. Laborum perspiciatis, eveniet omnis asperiores dolor iusto, est sed deserunt culpa officiis animi beatae, impedit eos, sequi saepe nemo nam. Blanditiis tenetur illo, iure recusandae omnis. Repellendus aspernatur nostrum, perspiciatis, ipsa totam tenetur quidem atque nihil! Quam delectus officia, commodi quasi error.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum perspiciatis, eveniet omnis asperiores dolor iusto, est sed deserunt culpa officiis animi beatae, impedit eos, sequi saepe nemo nam. Blanditiis tenetur illo, iure recusandae omnis. Repellendus aspernatur nostrum, perspiciatis, ipsa totam tenetur quidem atque nihil! Quam delectus officia, commodi quasi error.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum perspiciatis, eveniet omnis asperiores dolor iusto, est sed deserunt culpa officiis animi beatae, impedit eos, sequi saepe nemo nam. Blanditiis tenetur illo, iure recusandae omnis. Repellendus aspernatur nostrum, perspiciatis, ipsa totam tenetur quidem atque nihil! Quam delectus officia, commodi quasi error.

				.license
					img.license__img(src="img/license.jpeg")
					img.license__img(src="img/license-2.jpeg")


				.steps
					h3 Этапы работы
					.steps__items-wrap
						.steps__item
							i.fa.fa-phone-square.steps__icon
							p lorem lorem loremvv v vlorem lorem lorem lorem lorem lorem lorem lorem lorem loremvv v vlorem lorem lorem lorem lorem lorem lorem
							i.steps__icon-after.fa.fa-chevron-right
						.steps__item
							i.fa.fa-address-card.steps__icon
							p lorem lorem loremvv v vlorem lorem lorem lorem lorem lorem lorem lorem lorem loremvv v vlorem lorem lorem lorem lorem lorem lorem
							i.steps__icon-after.fa.fa-chevron-right

						.steps__item
							i.fa.fa-file-text-o.steps__icon
							p lorem lorem loremvv v vlorem lorem lorem lorem lorem lorem lorem lorem lorem loremvv v vlorem lorem lorem lorem lorem lorem lorem
							i.steps__icon-after.fa.fa-chevron-right

						.steps__item
							i.fa.fa-handshake-o.steps__icon
							p lorem lorem loremvv v vlorem lorem lorem lorem lorem lorem lorem lorem lorem loremvv v vlorem lorem lorem lorem lorem lorem lorem



				.recalls
					h3 Отзывы
					.recalls__slider
						.recalls__item
							img.recalls__img(src="img/recall-1.png")
							.recalls__text-wrap
								p p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum perspiciatis, eveniet omnis asperiores dolor iusto, est sed deserunt culpa officiis animi beatae, impedit eos, sequi saepe nemo nam. Blanditiis tenetur illo, iure recusandae omnis. Repellendus aspernatur nostrum, perspiciatis, ipsa totam tenetur quidem atque nihil! Quam delectus officia, commodi quasi error.
								span Иван, 37 лет, Днепропетровск
						.recalls__item
							img.recalls__img(src="img/recall-2.jpg")
							.recalls__text-wrap
								p p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum perspiciatis, eveniet omnis asperiores dolor iusto, est sed deserunt culpa officiis animi beatae, impedit eos, sequi saepe nemo nam. Blanditiis tenetur illo, iure recusandae omnis. Repellendus aspernatur nostrum, perspiciatis, ipsa totam tenetur quidem atque nihil! Quam delectus officia, commodi quasi error.
								span Иван, 37 лет, Днепропетровск
						.recalls__item
							img.recalls__img(src="img/recall-3.jpg")

							.recalls__text-wrap
								p p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum perspiciatis, eveniet omnis asperiores dolor iusto, est sed deserunt culpa officiis animi beatae, impedit eos, sequi saepe nemo nam. Blanditiis tenetur illo, iure recusandae omnis. Repellendus aspernatur nostrum, perspiciatis, ipsa totam tenetur quidem atque nihil! Quam delectus officia, commodi quasi error.
								span Иван, 37 лет, Днепропетровск
						.recalls__item
							img.recalls__img(src="img/recall-4.jpg")

							.recalls__text-wrap
								p p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum perspiciatis, eveniet omnis asperiores dolor iusto, est sed deserunt culpa officiis animi beatae, impedit eos, sequi saepe nemo nam. Blanditiis tenetur illo, iure recusandae omnis. Repellendus aspernatur nostrum, perspiciatis, ipsa totam tenetur quidem atque nihil! Quam delectus officia, commodi quasi error.
								span Иван, 37 лет, Днепропетровск
						.recalls__item
							img.recalls__img(src="img/recall-5.jpg")

							.recalls__text-wrap
								p p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum perspiciatis, eveniet omnis asperiores dolor iusto, est sed deserunt culpa officiis animi beatae, impedit eos, sequi saepe nemo nam. Blanditiis tenetur illo, iure recusandae omnis. Repellendus aspernatur nostrum, perspiciatis, ipsa totam tenetur quidem atque nihil! Quam delectus officia, commodi quasi error.
								span Иван, 37 лет, Днепропетровск


				.forms

					+form('Трудоустройство')
					+form('Обучение')

		include _footer


