extends _layout

block title
	title Index

block content
	.out
		header.header
			.inner
				.header__top
					a.header__logo(href="index.html")
					ul.nav
						li: a.nav__link(href="#") Главная
						li.nav__holder  Трудоустройство
							span.nav__box
								a.nav__in-link(href="#") Схема работы
								a.nav__in-link(href="#") Еще что-то
								a.nav__in-link(href="#") Еще что-то
						li.nav__holder  Обучение
							span.nav__box.nav__box_wide
								a.nav__in-link(href="#") Схема работы
								a.nav__in-link(href="#") Еще что-то
								a.nav__in-link(href="#") Еще что-то
						li: a.nav__link(href="#") Стоимость
						li: a.nav__link(href="#") Контакты
				h1.header__title Praca
				h2.header__subtitle Работа в Польше для украинцев
		main.content
			.inner
				.about
					h3 Хотите уехать в Польшу?
					img(src="img/profs.png")
					p Lorem ipsum dolor sit #[strong amet, consectetur adipisicing elit. Laborum amet, consectetur adipisicing elit. Laborum  ]amet, consectetur adipisicing elit. Laborum perspiciatis, eveniet omnis asperiores dolor iusto, est sed deserunt culpa officiis animi beatae, impedit eos, sequi saepe nemo nam. Blanditiis tenetur illo, iure recusandae omnis. Repellendus aspernatur nostrum, perspiciatis, ipsa totam tenetur quidem atque nihil! Quam delectus officia, commodi quasi error.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum perspiciatis, eveniet omnis asperiores dolor iusto, est sed deserunt culpa officiis animi beatae, impedit eos, sequi saepe nemo nam. Blanditiis tenetur illo, iure recusandae omnis. Repellendus aspernatur nostrum, perspiciatis, ipsa totam tenetur quidem atque nihil! Quam delectus officia, commodi quasi error.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum perspiciatis, eveniet omnis asperiores dolor iusto, est sed deserunt culpa officiis animi beatae, impedit eos, sequi saepe nemo nam. Blanditiis tenetur illo, iure recusandae omnis. Repellendus aspernatur nostrum, perspiciatis, ipsa totam tenetur quidem atque nihil! Quam delectus officia, commodi quasi error.

				.license
					img.license__img(src="img/license.jpeg")
					img.license__img(src="img/license-2.jpeg")


				.steps
					h3 Этапы работы
					.steps__item
						i.fa.fa-phone-square.steps__icon
						p lorem lorem loremvv v vlorem lorem lorem lorem lorem lorem lorem lorem lorem loremvv v vlorem lorem lorem lorem lorem lorem lorem
						i.steps__icon-after.fa.fa-chevron-right
					.steps__item
						i.fa.fa-address-card.steps__icon
						p lorem lorem loremvv v vlorem lorem lorem lorem lorem lorem lorem lorem lorem loremvv v vlorem lorem lorem lorem lorem lorem lorem
						i.steps__icon-after.fa.fa-chevron-right

					.steps__item
						i.fa.fa-file-text-o.steps__icon
						p lorem lorem loremvv v vlorem lorem lorem lorem lorem lorem lorem lorem lorem loremvv v vlorem lorem lorem lorem lorem lorem lorem
						i.steps__icon-after.fa.fa-chevron-right

					.steps__item
						i.fa.fa-handshake-o.steps__icon
						p lorem lorem loremvv v vlorem lorem lorem lorem lorem lorem lorem lorem lorem loremvv v vlorem lorem lorem lorem lorem lorem lorem



				.recalls
					h3 Отзывы
					.recalls__slider
						.recalls__item
							img.recalls__img(src="img/recall-1.png")
							.recalls__text-wrap
								p p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum perspiciatis, eveniet omnis asperiores dolor iusto, est sed deserunt culpa officiis animi beatae, impedit eos, sequi saepe nemo nam. Blanditiis tenetur illo, iure recusandae omnis. Repellendus aspernatur nostrum, perspiciatis, ipsa totam tenetur quidem atque nihil! Quam delectus officia, commodi quasi error.
								span Иван, 37 лет, Днепропетровск
						.recalls__item
							img.recalls__img(src="img/recall-2.jpg")
							.recalls__text-wrap
								p p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum perspiciatis, eveniet omnis asperiores dolor iusto, est sed deserunt culpa officiis animi beatae, impedit eos, sequi saepe nemo nam. Blanditiis tenetur illo, iure recusandae omnis. Repellendus aspernatur nostrum, perspiciatis, ipsa totam tenetur quidem atque nihil! Quam delectus officia, commodi quasi error.
								span Иван, 37 лет, Днепропетровск
						.recalls__item
							img.recalls__img(src="img/recall-3.jpg")

							.recalls__text-wrap
								p p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum perspiciatis, eveniet omnis asperiores dolor iusto, est sed deserunt culpa officiis animi beatae, impedit eos, sequi saepe nemo nam. Blanditiis tenetur illo, iure recusandae omnis. Repellendus aspernatur nostrum, perspiciatis, ipsa totam tenetur quidem atque nihil! Quam delectus officia, commodi quasi error.
								span Иван, 37 лет, Днепропетровск
						.recalls__item
							img.recalls__img(src="img/recall-4.jpg")

							.recalls__text-wrap
								p p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum perspiciatis, eveniet omnis asperiores dolor iusto, est sed deserunt culpa officiis animi beatae, impedit eos, sequi saepe nemo nam. Blanditiis tenetur illo, iure recusandae omnis. Repellendus aspernatur nostrum, perspiciatis, ipsa totam tenetur quidem atque nihil! Quam delectus officia, commodi quasi error.
								span Иван, 37 лет, Днепропетровск
						.recalls__item
							img.recalls__img(src="img/recall-5.jpg")

							.recalls__text-wrap
								p p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum perspiciatis, eveniet omnis asperiores dolor iusto, est sed deserunt culpa officiis animi beatae, impedit eos, sequi saepe nemo nam. Blanditiis tenetur illo, iure recusandae omnis. Repellendus aspernatur nostrum, perspiciatis, ipsa totam tenetur quidem atque nihil! Quam delectus officia, commodi quasi error.
								span Иван, 37 лет, Днепропетровск


				.forms
					mixin form(text)
						form
							h4=text
							input(type='text' placeholder="Ваше имя")
							input(type='number' placeholder="Ваше номер телефона")
							textarea(placeholder="Ваше сообщение")
							button.btn.btn_center(type=submit) Закзать консультацию
					+form('Трудоустройство')
					+form('Обучение')

		footer.footer
			.inner
				.footer__flag
				.footer__links
					.footer__links-work
						h6.footer__title Работа
						ul
							li: a(href="#") lorem
							li: a(href="#") lorem lorem
							li: a(href="#") lorem lorem lorem
							li: a(href="#") loremlorem
							li: a(href="#") loremlorem lorem
					.footer__links-study
						h6.footer__title Учеба
						ul
							li: a(href="#") lorem
							li: a(href="#") lorem lorem
							li: a(href="#") lorem lorem lorem
							li: a(href="#") loremlorem
							li: a(href="#") loremlorem lorem
				.footer__contacts
					h6.footer__title Контакты
					ul
						li #[i.fa.fa-phone] 099 547 79 12
						li #[i.fa.fa-phone] 099 547 79 12
						li: a(href="#").footer__skype #[i.fa.fa-skype ] Skype support
						li: a(href="#").footer__vk #[i.fa.fa-vk ] Vk page


