extends _layout

block title
	title Стоимость услуг

block content
	.out
		include _header
		main.content
			.inner
				h3 Услуги по трудоустройству
				+services

				h3 Поступление в ВУЗ
				+tableEntrance

				.forms
					+form('Трудоустройство', 'feedback')
					+form('Обучение', 'feedback2')


		include _footer