extends _layout

block title
	title Услуги по трудоустройству

block content
	.out
		include _header
		main.content
			.inner
				h3 Услуги по трудоустройству в Польше

				.services
					.services__item
						.services__top
							p Пакет "Эконом"
							strong 170 евро
							span 180\180
						.services__bottom
							p Приглашение от польского работодателя 180\180
							p Запись в визовый центр
							p Страховка 360/360
					.services__item
						.services__top
							p Пакет "Все включено"
							strong 210 евро
							span 180\180
						.services__bottom
							p Приглашение от польского работодателя 180\180
							p Запись в визовый центр
							p Страховка 360/360
							p Подбор вакансии
							p Встреча нашим представителем в Польше на  вокзале и трудоустройство Вас на согласованную заранее вакансию
							p Поселение
					.services__item
						.services__top
							p Пакет "Год без хлопот"
							strong 650 евро
							span 360\360
						.services__bottom
							p Приглашение от польского работодателя 180\180
							p Запись в визовый центр
							p Страховка 360/360
							p Подбор вакансии
							p Встреча нашим представителем в Польше на  вокзале и трудоустройство Вас на согласованную заранее вакансию
							p Поселение
							p Подготовка к собеседованию
				+workSteps
				.forms.forms_work
					+form('Трудоустройство')

		include _footer