extends _layout

block title
	title Вакансии

block content
	.out
		include _header
		main.content
			.inner
				h3 Вакансии в Польше
				.vacancies
					.vacancies__links
						- var vacancies = ["Водитель", "Горничная", "Домработница", "Каменщик", "Кровельщик", "Повар", "Маляр", "Мясокомбинат", "Опекунство", "Плиточник", "Продавец", "Столяр", "Охранник", "Упаковка лосося", "Мастер маникюра", "Сантехник", "Сварщик", "Жестянщик", "Столяр", "Бетонщик", "Швея", "Электрик", "Разнорабочий", "Клининг", "Официант", "Пекарь"]
						each item in vacancies
							a(href='#' + item title=item)=item


					.vacancies__box
						mixin vacancy(src, title, city, sex, age, exp, duties, schdule, pay, number)
							.vacancies__item(id=title)
								img(src="img/vacancies/" + src)
								.vacancies__in
									span=title
									p
										strong Город:
										=city
									p
										strong Пол:
										=sex
									p
										strong Возраст:
										=age
									p
										strong Опыт работы:
										=exp
									p
										strong Обязанности:
										=duties
									p
										strong Рабочий график:
										=schdule
									p
										strong Зарплата:
										=pay
									p
										strong Номер вакансии:
										=number

						+vacancy('driver.png', 'Водитель', ' Gniezno', ' мужчины', ' до 45', ' от 2 лет',' водитель автобуса', ' пн-вс, работа посменная с 5-14 и с 14-23. Возможность сверхчасов.', ' 10,60 злотых в час. З.п. около 2200злотых в месяц. Жилье по согласованию.', ' 7265' )
						+vacancy('farmer.jpg', 'Фермер', ' Wydminy Okrągłe', ' мужчины', ' от 27 до 50', ' работящий, иметь права категории В', ' работать на ферме: кормить животных, починка заборов, оград, покраска, мелкие работы при сельхоз.оборудовании, уборка.', ' пн-вс, 8-12 часов в день', ' 2000злотых в месяц. Жилье и питание предоставляется бесплатно.', '7133')
						+vacancy('maid.jpg', 'Горничная', ' Warszawa', ' мужчины, женщины', ' от 20 до 45', ' не имеет значения', ' уборка номеров, работать посудомойщиком', ' пн-вс, с 8 до 16', ' 4,5-7 злотых за номер (в зависимости от размера номера).Жилье не предоставляется. Помогаем с хостелом, 450-550злотых в месяц.', ' 7132')
						+vacancy('housekeeper.jpg', 'Домработница', ' Мазуры', ' женщина', ' до 35', ' приветствуется. Работодатели пребывают в этом доме 3-4 дня в неделю, иногда сдают его под агротуристику.', ' уборка дома, уборка прилигающей теретории, стирка, глажка , помощь на кухне.', ' рабочий график по договоренности (в среднем около 6-8 часов в день).После 2-х месяцев, возможно ВНЖ', '1600 злотых в месяц).Жилье и питание бесплатное.', ' 7038')
						+vacancy('rockman.jpg', 'Каменщик', ' Warszawa', ' мужчины', ' от 20 до 55', ' обязателен', ' кладка стен из керамических и силикатных крупноформатных блоков на клей и растворе.', ' пн-сб, с 7 до 19', ' 20 злотых за м кв. Жилье предоставляется — 400 злотых в месяц.', ' 7041')
						+vacancy('coverman.png', 'Кровельщик', ' Дальношленское воеведство', ' 2 мужчины', ' от 20 до 45', ' минимальный, работа на высоте,', 'самостоятельные монтажные работы, монтаж деревянных конструкций', ' пн-пт, 8-12 часов в день', 'от 200 часов, от 10 — 14 злотых в час', ' 7056')
						+vacancy('cooker.jpg', 'Повар', ' Jelenia Góra', ' мужчины, женщины', ' до 45', ' от 3-х лет', ' готовить блюда по карте, обслуживание праздников, приготовление завтраков, обедов, ужинов для гостей заведения.', ' 180 часов в месяц, возможность сверх часов.', '12 злотых в час без жилья, 10 злотых в час с бесплатным жильем. Возможность премий.', ' 7121')
						+vacancy('paintman.jpg', 'Маляр', ' Grodzisk', ' мужчины', ' от 20 до 60', ' 6 месяцев', ' выполнение малярных работ', ' пн-пт, 8-12 часов в день, возможность работать в субботу', '7-8 злотых за метр квадратный,Жилье предоставляется – оплачивается 50/50 с работодателем.', ' 7123')
						+vacancy('meat.jpeg', 'Мясокомбинат', ' Велькопольское воеводство', ' мужчины, женщины', ' от 20 до 60', 'минимальный', ' работа в помещении от 6 до 10 градусов тепла', ' с 6 до 16 или с 12 до 22 (около 250 часов в месяц)', ' 10 злотых в час (2500 злотых в месяц), жилье 100-150 злотых в месяц. Бесплатный обед 1 раз в день. Бесплатная теплая одежда и обувь. Официальное трудоустройство. После 3-х месяцев помощь в оформлении ВНЖ.', ' 7073' )
						+vacancy('fiduciary.jpg', 'Опекунство', ' Wieckowice', ' мужчины, женщины', ' не имеет значения', ' минимальный, от 6 месяцев',' сопровождение больных аутизмом: прогулки, кормление, гигиена.', ' посменный, пн-вс', '1650злотых в месяц. Жилье не предоставляется, оказываем помощь в поиске.', ' 7159' )
						+vacancy('tileman.jpg', 'Плиточник', ' Краков', ' мужчина', ' от 25 до 50', ' обязателен от 2-х лет',' укладка плитки: лестницы, балконы, ступеньки', ' с 7 до 17, с пн-сб, возможность сверх часов, около 300', 'от 25-30 злотых за квадратный метр. Жилье платное — 530 злотых в месяц.', ' 7065' )
						+vacancy('seller.jpg', 'Продавец', ' Хел', ' женщина', ' от 20 до 43', ' приветствуется',' обслуживание клиентов, прием товара, размещение ценников, размещение товаров на полках, поддержание чистоты в магазине', ' индивидуальный, пн-вс, с 6-14, 14-22. Возможность сверхчасов', '9 злотых первые 2 месяца, с 3-го месяца — 10злотых в час.Жилье предоставляется TV, WI-FI.', ' 7089' )
						+vacancy('woodman.jpg', 'Столяр', ' Mirsk', ' мужчины', ' до 45', ' не имеет значения',' работа на деревообрабатывающем производстве: обслуживание машин, столярные работы.', 'пн-сб, индивидуальный, с 6 до 22', 'от 10 злотых в час. Жилье предоставляется бесплатно.', ' 7351' )
						+vacancy('security.jpg', 'Охранник', ' по всей территории Польши', ' мужчины', ' от 25 до 50 лет', ' минимальный',' мониторинг, охрана торговых центров, продуктовых магазинов, складов.', ' индивидуальный, возможность до 450 часов', ' 8,5-10 злотых в час, в зависимости от объекта. Ориентировочно жилье 450-600, в зависимости от условий', ' 7512' )
						+vacancy('fish.jpg', 'Упаковка лосося', ' Заходно Поморское воеводство', ' женщины', ' до 50 лет', ' не имеет значения',' фасовать, упаковывать, взвешивать, готовить к транспортировке, убирать рабочее место', ' индивидуальный, можно до 300 часов в месяц', ' 8 злотых в час. Жилье бесплатное.', ' 7592' )
						+vacancy('manicure.jpeg', 'Мастер маникюра', ' Варшава', ' женщины, 2 человека', ' до 35 лет', ' минимум 2 года',' Новый маникюрный салон с хорошей репутацией и большой клиентской базой ищет талантливых девушек на вакансию мастер маникюра.', ' салон работает 7 дней в неделю с 10 утра до 21 , график составляется индивидуально.', ' 2000 злотых в месяц плюс чаевые от клиентов. Есть возможность перейти на частично сдельную оплату труда. Работодатель регулярно высылает работников на профессиональные курсы повышения квалификации. Жилье предоставляет работодатель.', ' 7419' )
						+vacancy('welder.jpg', 'Сварщик', ' Велькопольское воеводство', ' мужчины', ' от 20 до 50', ' обязателен от 2-х лет',' Сварка малогабаритных конструкций, материалов толщиной 30мм-60мм', ' Пн-Сб с 7 до 15, возможность сверхчасов, 200-240часов', ' от 15 до 24 злотых в час. Жилье предоставляется платно: 600-650злотых.', ' 7395' )
						+vacancy('ironman.jpg', 'Жестянщик', ' Краков', ' мужчины', ' 30-50', ' от 2 лет',' монтаж вентиляций, умение пользоваться сваркой', ' пн-пт, с 7 до 15, возможность доп. часов', ' 11 злотых а час + премиию Оказываем помощь в поиске жилья.', ' 7393' )
						+vacancy('betonman.JPG', 'Бетонщик', ' Strzelce Opolskie', ' мужчины', ' не имеет значения', ' от 2 лет',' бетонирование, вязка арматуры', 'пн-сб, 10 часов в день', ' 10-14 злотых в час. Жилье предоставляется бесплатно.', ' 7733' )
						+vacancy('seamstress.jpg', 'Швея', ' Ostrów Wielkopolski', ' женщины', ' до 50', ' обязателен',' шить чехлы для мебели', ' Пн-сб, 10-12 часов', ' от 90-150злотых в день. Жилье бесплатное.', ' 7749' )
						+vacancy('electrician.jpg', 'Электрик', ' работа по всей Польше', ' мужчины, 2 человека', ' от 25 до 40 лет', ' обязателен',' подведение кабеля, монтаж розеток, ламп, камер наблюдения, подключение к эл.щитовым', ' С 7 до 17. Пн-пятница, редко в выходные. 180-240 часов в месяц', ' 2200-2500злотых в месяць. Жилье бесплатное. Жилье предоставляется.', ' 7251' )
						+vacancy('diff.jpg', 'Разнорабочий', ' Gdańsk', ' мужчины', ' от 25 до 55', ' минимальный, от 6 месяцев',' укладка брусчатки, работа на крыше, шпаклевка, малярка, общестроительные работыл.щитовым', ' пн-сб, 7-16 часов в день', ' 10-12 злотых в час. Жилье предоставляется, бесплатный доезд до работы.', ' 7228' )
						+vacancy('cleaning.jpg', 'Клининг', ' Gdańsk', ' мужчины', ' от 25 до 45', ' не имеет значения',' работа в клининговой фирме: уборка в офисах, супермаркетах, частных домах. Дополнительно оплачивается: мытье окон, стирка дорожек и уборка прилегающей территории.', ' пн-пт, 8-12 часов в день', ' первый тестовый месяц — 8 злотых, со второго месяца — 10злотых в час. 2000-2500 злотых в месяц. Жилье предоставляется – 400злотых в месяц и около 60 злотых раз в 2 месяца, оплата по счетчикам.', ' 7233' )
						+vacancy('waiter.jpg', 'Официант', ' Jelenia Góra', ' мужчины, женщины', ' до 35', ' минимальный',' сомелье, работа барменом, обслуживание гостей, мероприятий', ' 180 часов в месяц, возможность сверх часов', ' 10 злотых в час, плюс чаевые, без жилья или 8 злотых в час, жилье предоставляется. Возможно долгосрочное сотрудничество.', ' 7553' )
						+vacancy('baker.jpg', 'Пекарь', ' Golina', ' мужчины', ' от 28 до 45', ' от 2 лет',' замес теста, согласно рецептуре, ручное формирование х/б изделий, обслуживание печи.', ' пн-вс, работа в 2 смены: с 6 до 16, с 18-4.', '1 злотых в час. Жилье предоставляется бесплатно.', ' 7339' )

	include _footer
